<div style="
background-color: #fff;
min-width: 360px;
min-height: 30%;
border-radius: 7px;
border: 1px solid #b5b5b5;
text-align: center;
padding: 1rem;
font-size: 25px;
font-family: 'Lucida Console', 'Courier New', monospace;
">
<div class="card-header">Appointment Canceled</div>
<div class="card-body">
  <h5 class="card-title">Thank you for choosing Orient SPA</h5>
  <p class="card-text">Your appointment was canceled.</p>
  <h3>Reason: </h3>
  <p class="card-text" style="font-size: 21px;">"{{msg}}"</p>
</div>
<small style="
    font-size: 18px;
">
    @orientspacalapancity
</small>
</div>