<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Services</th>
        <th>Date/Time Scheduled</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% if response %}
            {% for x in response %}
                {% for y in services %}
                    {% if x.appointment_date|slice:"5:7"|add:0 == month|add:0 and x.appointment_date|slice:"0:4"|add:0 == year|add:0 %}
                        {% if x.service_id == y.id %}
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img
                                        src="../../media/{{y.service_img}}"
                                        alt=""
                                        style="width: 45px; height: 45px"
                                        class="rounded-circle"
                                        />
                                    <div class="ms-3">
                                    <p class="fw-bold mb-1">{{x.service_name}}</p>
                                    <p class="text-muted mb-0">₱ {{x.service_price}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{x.appointment_date}}</p>
                                <p class="text-muted mb-0">{{x.appointment_time}}</p>
                            </td>
                            <td>
                                <span class="badge rounded-pill badge-danger">
                                    <i class="fas fa-circle-exclamation text-danger"></i>
                                    Canceled
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
      {% else %}
        <tr>
            <td colspan="5">No appointment available.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>