<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Services</th>
        <th>Date/Time Scheduled</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if appointment_data_set %}
            {% for x in appointment_data_set %}
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img
                                        src="../../media/{{x.service_image}}"
                                        alt=""
                                        style="width: 45px; height: 45px"
                                        class="rounded-circle"
                                        />
                                    <div class="ms-3">
                                    <p class="fw-bold mb-1">{{x.service_name}}</p>
                                    <p class="text-muted mb-0">₱ {{x.service_price}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{x.date}}</p>
                                <p class="text-muted mb-0">{{x.time}}</p>
                            </td>
                            <td>
                                {% if x.status == 'Rated' %}
                                    <button type="button" onclick="ShowRatingModal('{{x.id}}')" data-mdb-toggle="modal" data-mdb-target="#Modal" class="btn btn-outline-warning btn-sm disabled" data-mdb-ripple-color="dark">
                                        <i class="fas fa-star text-warning"></i> Service rated
                                    </button>
                                {% else %}
                                    <button type="button" onclick="ShowRatingModal('{{x.id}}')" data-mdb-toggle="modal" data-mdb-target="#Modal" class="btn btn-outline-warning btn-sm" data-mdb-ripple-color="dark">
                                        <i class="fas fa-star text-warning"></i> Rate
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
            {% endfor %}
      {% else %}
        <tr>
            <td colspan="5">No appointment available.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>