    <div style="
        background-color: #fff;
        min-width: 360px;
        min-height: 30%;
        border-radius: 7px;
        border: 1px solid #b5b5b5;
        text-align: center;
        padding: 1rem;
        font-size: 25px;
        font-family: 'Lucida Console', 'Courier New', monospace;
    ">
        <div class="card-header">Verification code</div>
        <div class="card-body">
          <h5 class="card-title">Do not share This code to anyone.</h5>
          <p class="card-text">Thank you for supporting Orient SPA! This is your account verification code.</p>
          <h3>{{code}}</h3>
        </div>
        <small style="
            font-size: 18px;
        ">
            @orientspacalapancity
        </small>
    </div>