    <div style="
        background-color: #fff;
        min-width: 360px;
        min-height: 30%;
        border-radius: 7px;
        border: 1px solid #b5b5b5;
        text-align: center;
        padding: 1rem;
        font-size: 25px;
        font-family: 'Lucida Console', 'Courier New', monospace;
    ">
        <div class="card-header">{{header}}</div>
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{text}}</p>
          <h3>
            {% if code != '' %}
                {{code}}
            {% elif header != '' %}
              {{header}}
            {% endif %}
          </h3>
          {% if details %}
            {% for x in details %}
                <p class="card-text">Service: {{x.service_name}}</p>
                <p class="card-text">Client: {{x.client_name}}</p>
                <p class="card-text">Date: {{x.appointment_date}}</p>
                <p class="card-text">Time: {{x.appointment_time}}</p>
                <p class="card-text">Client Phone Number: {{x.client_number}}</p>
                <p class="card-text">Client Email: {{x.client_email}}</p>
            {% endfor %}
          {% endif %}
          {% if employee %}
            {% for y in employee %}
                <p class="card-text">Employee: {{y.first_name}} {{y.last_name}}</p>
                <p class="card-text">Email: {{y.email}}</p>
            {% endfor %}
          {% endif %}
        </div>
        <small style="
            font-size: 18px;
        ">
            @orientspacalapancity<br>
            <a href="http://127.0.0.1:8000/">Orient SPA Appointment System</a>
        </small>
    </div>