<div class="card">
    <div class="card-body">
        <button type="button" onclick="Return()" class="btn btn-outline-secondary" data-mdb-ripple-color="#32b4ec"><i class="fas fa-angle-left"></i> back </button>
        <button type="button" onclick="printTbl()" class="btn btn-outline-secondary float-end" data-mdb-ripple-color="#32b4ec"><i class="fas fa-print"></i> Print </button>
        <h5 class="card-title">DTR(Daily Time Record)</h5>
        <div class="input-group rounded w-25 mb-2">
          <input type="text" id="searchBox" class="form-control rounded" onkeyup="searchTable()" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div class="input-group rounded w-25 mb-2 float-end" align="right">
              <select id="monthSelect" onchange="selectMonth()" class="form-control rounded">
                <option value="" class="text-primary">Choose Month</option>
                <option value="1" {% if month|add:0 == 1 %}selected{% endif %}>January</option>
                <option value="2" {% if month|add:0 == 2 %}selected{% endif %}>February</option>
                <option value="3" {% if month|add:0 == 3 %}selected{% endif %}>March</option>
                <option value="4" {% if month|add:0 == 4 %}selected{% endif %}>April</option>
                <option value="5" {% if month|add:0 == 5 %}selected{% endif %}>May</option>
                <option value="6" {% if month|add:0 == 6 %}selected{% endif %}>June</option>
                <option value="7" {% if month|add:0 == 7 %}selected{% endif %}>July</option>
                <option value="8" {% if month|add:0 == 8 %}selected{% endif %}>August</option>
                <option value="9" {% if month|add:0 == 9 %}selected{% endif %}>September</option>
                <option value="10" {% if month|add:0 == 10 %}selected{% endif %}>October</option>
                <option value="11" {% if month|add:0 == 11 %}selected{% endif %}>November</option>
                <option value="12" {% if month|add:0 == 12 %}selected{% endif %}>December</option>
            </select>
            <input type="number" id="dateInput" onchange="selectMonth()" onkeyup="selectMonth()" class="form-control rounded" value="{{year}}" placeholder="" aria-label="Year" />
        </div>
        <div>
        <table id="dtrTbl" class="table table-bordered border-primary">
          <thead>
            <tr style="border: 1px solid black;">
              <th colspan="5" style="border: 1px solid black;">
                {{test}}
                {% for n in emp %}
                <div style="display: flex;">
                  <div style="display: flex; width: 80%;">
                    <h4>Fullname: <h5 style="text-decoration: underline;"> {{n.first_name}} {{n.last_name}} </h5></h4>
                  </div>
                  <div class="float-end" style="display: flex;">
                    <h5>Date:
                    <p style="text-decoration: underline; margin-top: .2rem;">
                      {% if month|add:0 == 1 %}January{% endif %} 
                      {% if month|add:0 == 2 %}February{% endif %}
                      {% if month|add:0 == 3 %}March{% endif %}
                      {% if month|add:0 == 4 %}April{% endif %}
                      {% if month|add:0 == 5 %}May{% endif %}
                      {% if month|add:0 == 6 %}June{% endif %}
                      {% if month|add:0 == 7 %}July{% endif %}
                      {% if month|add:0 == 8 %}August{% endif %}
                      {% if month|add:0 == 9 %}September{% endif %}
                      {% if month|add:0 == 10 %}October{% endif %}
                      {% if month|add:0 == 11 %}November{% endif %}
                      {% if month|add:0 == 12 %}December{% endif %}
                      {{year}}
                    </p>
                  </h5>
                  </div>
                </div>
                {% endfor %}

              </th>
            </tr>
            <tr id="trDtr" align="center" style="border: 1px solid black;">
              <th style="border: 1px solid black;"></th>
              <th style="border: 1px solid black;" colspan="2">AM</th>
              <th style="border: 1px solid black;" colspan="2">PM</th>
            </tr>
            <tr id="trDtr1" style="border: 1px solid black;">
              <th style="border: 1px solid black;">Date</th>
              <th style="border: 1px solid black;">In</th>
              <th style="border: 1px solid black;">Out</th>
              <th style="border: 1px solid black;">In</th>
              <th style="border: 1px solid black;">Out</th>
            </tr>
          </thead>
          <tbody>
              {% for x in dtr %}
                {% if x.date|slice:"5:7"|add:0 == month|add:0 and x.date|slice:"0:4"|add:0 == year|add:0 %}
                    <tr style="border: 1px solid black;">
                      <td style="border: 1px solid black;">{{x.date}}</td>
                      {% if x.am_in|slice:":2"|add:0 >= 8 %}
                        <td style="color:red; border: 1px solid black;">{{x.am_in}}</td>
                      {% else %}
                        <td style="border: 1px solid black;">{{x.am_in}}</td>
                      {% endif %}
                      {% if x.am_out|slice:":2"|add:0 < 12 %}
                        <td style="color: red; border: 1px solid black;">{{x.am_out}}</td>
                      {% else %}
                        <td style="border: 1px solid black;">{{x.am_out}}</td>
                      {% endif %}
                      {% if x.pm_in|slice:":2"|add:0 >= 1 and x.pm_in|slice:":2"|add:0 < 12 %}
                        <td style="color: red; border: 1px solid black;">{{x.pm_in}}</td>
                      {% else %}
                        <td style="border: 1px solid black;">{{x.pm_in}}</td>
                      {% endif %}
                      {% if x.pm_out|slice:":2"|add:0 < 5 %}
                        <td style="color: red; border: 1px solid black;">{{x.pm_out}}</td>
                      {% else %}
                        <td style="border: 1px solid black;">{{x.pm_out}}</td>
                      {% endif %}
                    </tr>
                {% endif %}
              {% endfor %}        
          </tbody>
        </table>
      </div>
    </div>
  </div>