<div class="card-header text-center">
    <h5 class="card-title">Salary Report For the Month of September</h5>
    <h6 class="card-title">ORIENT SPA CALAPAN CITY</h6>
</div> 
<div class="card-body">
    <div class="card-header">
        <h5 class="card-title">
            dsfsf asdsad
        </h5>
    </div>
    <div class="card-header">
        <h6 class="card-title text-secondary">
            Monthly Rate
            <p class="float-end">₱ {{rate}}</p>
        </h6>
    </div>
    <div class="card-header">
        <div>
            Total Days
            <p class="float-end">{{record_count}} days</p>
        </div>
    </div>
    <div class="card-header">
        <div>
            Amount
            <p class="float-end">₱ {{amount}}</p>
        </div>
    </div>
    <div class="card-header">
        <div>
            Lates (Mins./Hrs.)
            <p class="float-end text-danger">{{late_hours}} hrs. </p>
        </div>
    </div>
    <div class="card-header">
        <div>
           Late Amount
            <p class="float-end text-danger">- ₱ {{late_amount}}</p>
        </div>
    </div>
    <div class="card-header">
        <h6 class="card-title text-primary">
            Total Salary
            <p class="float-end">₱ {{total}}</p>
        </h6>
    </div>
</div>
<div class="card-footer">
    <button type="button" class="btn btn-secondary float-end">
        <i class="fas fa-print"></i>
        Print
    </button>
</div>