<div class="card-header text-center">
    <h5 class="card-title">Salary Report For the Month of September</h5>
    <h6 class="card-title">ORIENT SPA CALAPAN CITY</h6>
</div> 
<div class="card-body">
    <div class="card-header">
        <h5 class="card-title">
            dsfsf asdsad
        </h5>
    </div>
    <div class="card-header">
        <h6 class="card-title text-secondary">
            Monthly Rate
            <p class="float-end">₱ {{rate}}</p>
        </h6>
    </div>
    <div class="card-header">
        <div>
            Total Days Present
            <p class="float-end">{{record_count}} {% if record_count > 1 %}days{% else %}day{% endif %}</p>
        </div>
    </div>
    <div class="card-header">
        <div>
            Amount
            <p class="float-end">₱ {{amount}}</p>
        </div>
    </div>
    <div class="card-header">
        <div>
           Total Lates & Halfday (Mins./Hrs.)
            <p class="float-end text-danger">{{late_hours}} hr/s. and {{late_minutes}} min/s.</p>
        </div>
    </div>
    <div class="card-header">
        <div>
          Total Late Deductions
            <p class="float-end text-danger">- ₱ {{late_amount}}</p>
        </div>
    </div>
    <div class="card-header">
        <div>
          Total Early Out Deductions
            <p class="float-end text-danger">- ₱ {{early_out_amount}}</p>
        </div>
    </div>
    <div class="card-header">
        <h6 class="card-title text-primary">
            Total Salary
            <p class="float-end">₱ {{total}}</p>
        </h6>
    </div>
</div>
<div class="card-footer">
    <button type="button" id="printBtn" onclick="printSalaryReport()" class="btn btn-secondary float-end">
        <i class="fas fa-print"></i>
        Print
    </button>
</div>